version: "3.8"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: portfolio
      POSTGRES_USER: filipe
      POSTGRES_PASSWORD: senha123
    ports:
      - "5432:5432"

  backend:
    build: .
    depends_on:
      - postgres
    ports:
      - "8080:8080"
